.wrapper {
  position: relative;
  width: 70px;
  height: 70px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: white; 
  z-index: 1; 
}


@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.animate-spin .text {
  animation: spin 2s linear infinite;
}
